@import '~antd/dist/antd.less';

.layout {
  height: 100vh;
  .content {
    padding: 24px;
    overflow: scroll;
  }
}
.ant-layout-header {
  padding: 0 0px;
  background: #20295b
}

.ant-layout-footer {
  color: #949494;
  background: #202020;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: large;
}